@import url("../style/all.css");
@import url("../style/_headerStyle.css");
body {
  background-color: #fff;
}
.head-nav {
  background-color: rgb(202, 150, 252);
}
.main_page {
  display: flex;
  justify-content: space-between;
  height: 300px;
}
.part_img {
  margin-top: 20px;
}
.img {
  margin-left: 30px;
  border-radius: 50%;
  display: flex;
}
.text_h1 {
  margin-top: 70px;
  margin-left: 60px;
  font-size: 60px;
}
.text {
  padding-top: 160px;
  padding-right: 40px;
  font-size: 20px;
}
.head-nav-left ul li:hover {
  background-color: #edcfffcb;
}
.bold {
  color: rgb(202, 150, 252);
}
.main2_page {
  margin-top: 100px;
  height: 300px;
}
.project {
  background-color: rgb(224, 197, 248);
}
.text_h2 {
  font-size: 30px;
  padding-left: 20px;
}

.text-1 {
  font-size: 20px;
  padding: 30px 60px;
}
.project_1 {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}
.img_project {
  border-radius: 15px;
  margin-top: 20px;
  width: 48%;
}

.text_end {
  margin-top: 50px;
}
.footer {
  background-color: rgb(202, 150, 252);
}
.banner {
  height: 90vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.banner_img_container {
  background-image: url("./img/175250441.jfif");
  background-size: cover;
  width: 400px;
  height: 400px;
  border-radius: 300px;
  box-shadow: 5px 5px 20px rgb(224, 197, 248);
}

.banner_left {
  width: 400px;
}

.banner_left_title {
  font-size: 2rem;
}

.banner_left_caption {
  font-size: 1.3rem;
  line-height: 1.2;
  margin: 30px 0;
  text-align: justify;
}

.banner_btn {
  background-color: #141e46;
  color: #fff;
  padding: 10px 40px;
  border-radius: 40px;
  transition: all 0.5s ease;
}

.banner_btn:hover {
  background-color: #fff;
  color: #141e46;
  border: 2px solid #141e46;
}

.front_end {
  display: flex;
  height: 70vh;
  background-color: rgb(224, 197, 248);
  color: #fff;
}

.front_right {
  width: 50%;
  text-align: center;
  padding: 15vh 10%;
  font-size: 1.3rem;
}

.front_right_description {
  margin: 50px 0;
  text-align: justify;
  line-height: 1.5;
}

.home_page {
  background-color: #141e46;
  color: #fff;
  padding: 10px 30px;
  border-radius: 30px;
  transition: all 0.5s ease;
}

.home_page:hover {
  background-color: #fff;
  color: #141e46;
  border: 2px solid #141e46;
}

.lang_list {
  display: flex;
  height: 50vh;
}

.lang_list_left {
  text-align: center;
  padding: 5% 10%;
  text-align: left;
  font-size: 1.1rem;
  width: 50%;
}

.lang_lists {
  margin-top: 50px;
  line-height: 1.5;
}

.lang_list_item {
  list-style-type: "✔";
  padding-left: 15px;
}

.lang_list_img {
  width: 51%;
}
