@import "_headerStyle.css";
@import url("./hossein.css");
@import url("./style\ melika.css");
@import url(./style.css);
@font-face {
  font-family: "Roboto";
  src: url(../font/Roboto-Regular.ttf) format("true type");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff5e0;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

ul,
li,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}
header a {
  color: #fff;
}
